@font-face {
    font-family: "title-custom";
    src: url("./title.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --prim-50: #f5f5f9;
    --prim-100: #eae9f0;
    --prim-200: #dad8e5;
    --prim-300: #c1bed2;
    --prim-400: #a39ebc;
    --prim-500: #8e86ab;
    --prim-600: #7f759b;
    --prim-700: #74688d;
    --prim-800: #625875;
    --prim-900: #50495f;
    --prim-950: #3d3846;

    --sec-50: #e4f4ff;
    --sec-100: #cfe9ff;
    --sec-200: #a8d5ff;
    --sec-300: #74b7ff;
    --sec-400: #3e85ff;
    --sec-500: #1354ff;
    --sec-600: #0040ff;
    --sec-700: #0040ff;
    --sec-800: #0039e4;
    --sec-900: #0026b0;
    --sec-950: #000c40;

    --over-1 : #783124;
    --over-2 : #ee8d7b;
}

body {
    background-color: var(--prim-200);
    
}

header {
    /*background: #F0F2F0;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, var(--sec-950), var(--sec-950)50%, var(--prim-100)100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 20vh;
    border-bottom: var(--prim-950) solid 2px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h1 {
    font-family: "title-custom", sans-serif;
    font-size: 6rem;
    color:var(--prim-100);
}

.button-custom {
    color: var(--sec-50);
    border-color: var(--prim-800);
    background-image: linear-gradient(var(--prim-600) 0%, var(--prim-700) 100%);
    box-shadow: var(--prim-500) 0px 2px 0px 0px inset, var(--prim-700) 0px 2px 4px 0px;
}

/*Comics Setup*/
main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    width : 100vw;
    height: 80vh;
    padding: 0.5vh 0;
}

#left-part {
    width: 33vw;
}

#right-part{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width : 67vw;
}

#top-part {
    height: 30vh;
    width: 67vw;
}

#down-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 49vh;
}

#dleft-part {
    width: 24vw;
}

#dcentral-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 19vw;
}

#dc-top {
    width: 19vw;
    height: 20.5vh;
}

#dc-down {
    width: 19vw;
    height: 29vh;
}

#dright-part {
    width: 24vw;
}

.case {
    border: var(--prim-950) solid 3px;
    box-shadow: var(--prim-950) 2px 2px 4px 0;
    margin : 0.75vh 0.5vw;
    z-index: 1;
}

#case-1 {  
    position: absolute;
    bottom: 0;
    left: 0;

    width : 32vw;
    height : 78vh;

    background-color: var(--prim-800);
    background-image: url("../src/Seb.png");
    background-repeat: no-repeat;
    background-size: 74.2vh 69.2vh;
    background-position-x: 95%;
    background-position-y:100%;

    transition : height 2000ms, width 2000ms, background-size 2000ms, background-position-x 2000ms, background-color 2000ms, z-index 1000ms;
}

#case-1:active {
    
    height : 90vh;
    width : 95.6vh;
    background-size: 96.5vh 90vh;
    z-index: 10;
    background-position-x: 0;
    background-position-y:100%;
    background-color: var(--prim-950);
}


#case-2 {
    position: absolute;
    top: 20.5vh;
    right: 0;

    height: 28vh;
    width: 66vw;

    background-color: var(--prim-500);
    background-image: url("../src/Yannick.png");
    background-repeat: no-repeat;
    background-size: 36vw 26.4vw;
    background-position-x: 100%;
    background-position-y:50%;

    transition : height 2000ms, width 2000ms, background-size 2000ms, background-position-x 2000ms,background-position-y 2000ms,background-color 2000ms, top 2000ms, z-index 1000ms;
}

#case-2:active {
    top : 2vh;
    height : 48.5vw;
    width : 66vw;
    background-size: 66vw 48.5vw;
    z-index: 10;
    background-position-x: 100%;
    background-position-y:100%;
    background-color: var(--prim-950);
}

#case-3 {    
    position: absolute;
    bottom : 0vh;
    left : 33vw;

    width: 23vw;
    height : 48vh;
    
    background-color: var(--prim-300);
    background-image: url("../src/Inaya.png");
    background-repeat: no-repeat;
    background-size: 71.6vh 82.6vh;
    background-position-x: 60%;
    background-position-y:40%;

    transition : height 2000ms, width 2000ms, background-size 2000ms, background-position-x 2000ms, background-position-y 2000ms, background-color 2000ms, z-index 1000ms;
}

#case-3:active {
    height : 78vh;
    width : 69.3vh;
    background-size: 69.3vh 80vh;
    z-index: 10;
    background-position-x: 0;
    background-position-y:100%;
    background-color: var(--prim-950);
}

#case-4 {
    position: absolute;
    bottom : 29vh;
    right : 24vw;

    width: 18vw;;
    height: 19vh;

    background-color: var(--prim-800);
    background-image: url("../src/Caro.png");
    background-repeat: no-repeat;
    background-size: 22.1vh 19vh;
    background-position-x: 60%;
    background-position-y:100%;

    transition : height 2000ms, width 2000ms, background-size 2000ms, background-position-x 2000ms, background-position-y 2000ms, background-color 2000ms, z-index 1000ms, bottom 2000ms, right 2000ms;
}

#case-4:active {
    bottom : 0;
    right : 0;

    height :78vh;
    width : 90.9vh;

    background-size: 90.9vh 78vh;
    z-index: 10;
    background-position-x: 0;
    background-position-y:100%;
    background-color: var(--prim-950);
}

#case-5 {
    position: absolute;
    bottom : 0vh;
    right: 24vw;

    width: 18vw;;
    height: 27.5vh;
    
    background-color: var(--prim-500);
    background-image: url("../src/Amelie.png");
    background-repeat: no-repeat;
    background-size: 18vw 25.9vw;
    background-position-x: 100%;
    background-position-y:30%;

    transition : height 2000ms, width 2000ms, background-size 2000ms, background-position-x 2000ms, background-position-y 2000ms, background-color 2000ms, z-index 1000ms, bottom 2000ms, right 2000ms;
}

#case-5:active {
    height :78vh;
    width : 54.2vh;

    background-size: 54.2vh 78vh;
    z-index: 10;
    background-position-x: 100%;
    background-position-y:100%;
    background-color: var(--prim-950);
}

#case-6 {
    position: absolute;
    bottom : 0vh;
    right : 0vw;
    
    width: 23vw;
    height : 48vh;
    
    background-color: var(--prim-300);
    background-image: url("../src/thomas.png");
    background-repeat: no-repeat;
    background-size: 33.6vh 67.2vh;
    background-position-x: 100%;
    background-position-y:35%;

    transition : height 2000ms, width 2000ms, background-size 2000ms, background-position-x 2000ms, background-position-y 2000ms, background-color 2000ms, z-index 1000ms;
}

#case-6:active {
    height : 90vh;
    width : 45vh;
    background-size: 45vh 90vh;
    z-index: 10;
    background-position-x: 100%;
    background-position-y:100%;
    background-color: var(--prim-950);

}

/*over cases*/

#ocase-1 {
    position: absolute;
    top : 30vh;
    left : 25vw;
    z-index: 3;

    height: 10vh;
    width : 20vw;

    background-color: var(--prim-950);
    background-image: url("../src/BritannyD.png");
    background-repeat: no-repeat;
    background-size: 50vw 73.3vw;
    background-position-x: 98%;
    background-position-y:30%;

    transition : height 2000ms, width 2000ms, background-size 2000ms, background-position-x 2000ms, background-position-y 2000ms, background-color 2000ms, z-index 1000ms, top 2000ms, left 2000ms;

}

#ocase-1:hover {
    top : 5vh;
    left : 10vw;
    z-index: 10;

    height: 90vh;
    width : 35vw;
    background-position-y:22%;

    background-color: var(--over-2);
}


#ocase-2 {
    position: absolute;
    bottom: 20vh;
    right : 15vw;
    z-index: 3;

    height: 35vh;
    width : 11vw;

    background-color: var(--prim-950);
    background-image: url("../src/femmeFatale.png");
    background-repeat: no-repeat;
    background-size: 88.2vh 80vh;
    background-position-x: 80%;
    background-position-y:20%;

    transition : height 2000ms, width 2000ms, background-size 2000ms, background-position-x 2000ms, background-position-y 2000ms, background-color 2000ms, z-index 1000ms, bottom 2000ms, right 2000ms;
}

#ocase-2:hover {
    bottom : 5vh;
    right : 10vw;
    z-index: 10;

    height: 80vh;
    width : 88.2vh;
    background-position-y:16%;

    background-color: var(--over-2);
}
